@charset "UTF-8";
/* pt-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./../assets/fonts/pt-sans-v17-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* pt-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./../assets/fonts/pt-sans-v17-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.body-fix {
  position: fixed;
  overflow: hidden;
  right: 0;
  left: 0;
}

svg, img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset {
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  max-width: 1189px;
  margin: 0 auto;
  padding: 0 30px;
}

.link {
  transition: color 0.3s ease-in-out;
}
.link:hover {
  color: #FBFF3D;
}

.header {
  background-color: #265C9A;
  padding-top: 21px;
  margin-bottom: 25px;
  color: #fff;
}
.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
.header__logo {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.header__phone {
  margin-left: 86px;
  font-size: 19px;
}
.header__search {
  margin-left: 87px;
}
.header__search-input {
  background-color: transparent;
  width: 281px;
  border: none;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #517DAE;
  background-image: url("./../assets/img/search.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}
.header__search-input::-moz-placeholder {
  color: #fff;
}
.header__search-input:-ms-input-placeholder {
  color: #fff;
}
.header__search-input::placeholder {
  color: #fff;
}
.header__delivery {
  margin-left: auto;
  border-bottom: 1px solid #fff;
  border-bottom: -2px;
  transition: all 0.3s ease-in-out;
}
.header__delivery:hover {
  color: #FBFF3D;
  border-color: #FBFF3D;
}
.header__cart {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  bottom: -31px;
  transition: color 0.3s ease-in-out;
}
.header__cart:after {
  content: "КОРЗИНА";
  margin-left: 9px;
}
.header__cart:hover {
  color: #FBFF3D;
}

.nav {
  background-color: #1F497B;
  color: #fff;
}
.nav__list {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 12px;
}
.nav__item {
  padding-right: 39px;
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}
.filter__wrapper {
  width: 100%;
  max-width: 264px;
  color: #484848;
}
.filter__wrapper:first-child {
  margin-right: 14px;
}
.filter__select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 17px;
  border: 1px solid #D0D0D0;
  color: #484848;
  cursor: pointer;
}
.filter__select:after {
  content: "";
  display: block;
  width: 13px;
  height: 12px;
  background-image: url("./../assets/img/caret-down.svg");
}
.filter__list {
  position: absolute;
  width: 100%;
  max-width: 264px;
  background-color: #fff;
  padding: 4px 0px 10px;
  border: 1px solid #D0D0D0;
  display: none;
}
.filter li {
  padding: 5px 17px;
  cursor: pointer;
}
.filter li:hover {
  background-color: #E8EEFF;
}
.filter__price {
  display: flex;
  align-items: center;
  margin-left: 27px;
}
.filter__price p {
  color: #484848;
}
.filter__wrap {
  display: flex;
  align-items: center;
  margin-left: 14px;
  margin-right: 9px;
}
.filter__fieldset {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 13px;
  gap: 14px;
  max-width: 133px;
  border: 1px solid #D0D0D0;
}
.filter__label {
  color: #484848;
}
.filter__input {
  width: 100%;
  max-width: 181px;
  border: none;
  font-size: 16px;
}
.filter__input::-moz-placeholder {
  text-align: end;
  color: #484848;
  font-size: 16px;
  font-weight: 700;
}
.filter__input:-ms-input-placeholder {
  text-align: end;
  color: #484848;
  font-size: 16px;
  font-weight: 700;
}
.filter__input::placeholder {
  text-align: end;
  color: #484848;
  font-size: 16px;
  font-weight: 700;
}

.card {
  width: 100%;
  padding: 21px 20px 14px;
  border: 1px solid #DEDEDE;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card:not(:first-child):hover {
  background-color: #E8EEFF;
  border-color: #819DEB;
}
.card:first-child:hover {
  background-color: #FFF1F1;
  border-color: #FF3D3D;
}
.card__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  .card__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .card__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 560px) {
  .card__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card__big {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
}
.card__big .card__img {
  width: 100%;
  max-width: 250px;
  margin: 0;
  margin-right: 23px;
}
.card__big .card__title {
  font-size: 20px;
  margin-top: 7px;
}
.card__big .card__descr {
  font-size: 16px;
  color: #989898;
}
.card__big .card__wrap {
  margin-top: auto;
}
.card__big .card__wrap {
  border-color: #FFBCBC;
}
.card__big .card__price {
  color: #FF3D3D;
}
@media (max-width: 560px) {
  .card__big {
    grid-column-end: 2;
  }
}
.card__info {
  max-width: 252px;
}
.card__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 9px;
  max-width: 160px;
}
.card__title {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 6px;
}
.card__descr {
  font-size: 14px;
  color: #979797;
  margin-bottom: 20px;
}
.card__old-price {
  color: #989898;
  font-size: 16px;
  -webkit-text-decoration-line: strikethrough;
          text-decoration-line: strikethrough;
}
.card__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #325AC0;
  font-size: 20px;
  padding-top: 3px;
  border-top: 1px solid #325AC0;
}/*# sourceMappingURL=style.css.map */